OPENAI_API_KEY='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'

# Update these with your Supabase details from your project settings > API and dashboard settings
PINECONE_API_KEY='6ecdd5a6-a722-4ccd-bd63-2582eb7f07ed'
PINECONE_ENVIRONMENT='northamerica-northeast1-gcp'
PINECONE_INDEX_NAME='wjclangchain'
